@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
    --font-primary: "Montserrat", sans-serif;
    --font-heading: "Finger Paint", sans-serif;

}

body {
    background: var(--color-teal-100);
    font-family: var(--font-primary), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading), sans-serif;
}
